{% extends 'base.html' %}
{% block head_title %} 
    Restaurants || {{block.super}} 
{% endblock %}
{% block content%}
    <h1>Restaurant List</h1>
    <ul>
        <!-- 
            Context variable which is the dictionary
            which is used to carry data for template 
            will come under name "object_list" in the dictionary
            by default in ListView.
        -->
        {% for obj in object_list %}
            <li>{{ obj.name }} <br>{{ obj.name }} {{ obj.location }} {{ obj.category }} {{ obj.timestamp }} {{ obj.updated }}</li>
        {% endfor %}
    </ul>

{% endblock %}